
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/behrend-tour.js"></script>
  </head>
  <form action="/" method="post">

    <div id="admin-menu">
      <p> admin </p>
    </div>

    <div id="location-header">
      <div style="text-align: center;">
        <input type="text" name="locationTitle" value="Location Name" style="text-align:center; font-color:white;">
      </div>
    </div>

    <div id="gallery">
      <div id="edit-gallery-icon">
        <img src="/images/settings.svg" width="100%" onclick="dropDownControl()" class="dropbtn">
        <div id="gallery-dropdown" class="dropdown-content">
          <a onclick="fileUploadImage()">Add Image</a>
          <div style="background-color:white; height:2px !important;"></div>
          <a onclick="fileUploadAudio()">Add Audio</a>
          <div style="background-color:white; height:2px !important;"></div>
          <a onclick="fileUploadVideo()">Add Video</a>
        </div>
      </div>
      <input id="upload-file-all" type="file" multiple accept='image/*, audio/*, video/*'/>
      <input id="upload-file-image" type="file" multiple accept='image/*'/>
      <input id="upload-file-audio" type="file" multiple accept='audio/*'/>
      <input id="upload-file-video" type="file" multiple accept='video/*'/>
      <div id="add-media" style="height:200px; width:300px; margin:auto;">
      <img src="/images/picture.svg" width="100%" onclick="fileUploadAll()">
    </div>


    </div>

    <div id="location-description">
      <textarea name="editor1" id="editor1" rows="20" cols="80">
          This is my textarea to be replaced with CKEditor.
      </textarea>
      <script>
          CKEDITOR.replace('editor1');
      </script>
    </div>
    <div id="form-controls">
      <input type="submit" value="Submit" class="btn btn-primary">
      <button type="button" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</html>
