/* =====MOBILE===== */
/* ================ */
/* =====LAPTOP===== */
/* ================ */
/* =====DESKTOPS=== */
/* ================ */
#admin-menu{
  background-color:#2F80ED;
  height:30px;
  width:100%;
}
#admin-menu a{
  float:right;
  margin-right: 10px;
  color: white;
  border-bottom: 1px solid white;
}
#admin-menu a:hover{
  text-decoration: none;
  color:#56CCF2;
  border-color: #56CCF2;
}
#location-header{
  background-color: #56CCF2;
  height:60px;
  margin-bottom: 10px;
}

#location-title input{
    text-align: center;
    margin: auto;
    width:25%;
    background: #56CCF2;
    color: white;
    margin-top: 17px;
    -moz-border-style: solid;

}

#gallery{
  background-color: #C4C4C4;
  height: 400px;
  width: 75%;
  margin:auto;
}

#preview{
  height:100%;
  width:100%;
}
#edit-gallery-icon{
  height:20px;
  width:20px;
  position: absolute;
  left: 1240px;
  top: 100px;
}
#edit-gallery-icon > img:hover {
  height:120%;
  width: 120%;
  cursor: pointer;
}
#location-description{
  width: 75%;
  height: 500px;
  padding-top: 10px;
  margin: auto;
}
#form-controls{
  margin:auto;
  text-align: center;
}
#upload-file-all{display:none;}
#upload-file-image{display:none;}
#upload-file-audio{display:none;}
#upload-file-video{display:none;}

#page-title{
  color:white;
  background-color: #56CCF2;
}

#location-image{

	background-color: #C4C4C4;
	width: 175px;
	height: 200px;

}
.row{
  width: 100%;
  margin-top:20px;
}
.row > .col {
  float:left;
  font-size: 20px;
}

.dropdown-content{
  display:none;
  position: absolute;
  background-color: #56CCF2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color:white;
  text-decoration:none;
  display:block;
  padding: 12px 16px;
}
.dropdown-content a:hover{background-color: #28A9FF;}

.show {display:block;}

.textfield-focused {
  background: white !important;
  color: black !important;
}

.hide{
  display:none;
}
